*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.myspan{
   display: inline-block;
   width: 30%;
}
body{
    background-color: rgb(223, 223, 223);
}
.container{
    position: relative;
}
/* .taiji{
    width: 200px;
    height: 200px;
    position:fixed;
    left:800px;
    top:300px;
    display: flex;
    }
    .taiji1{
    width:100px;
    height:200px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color:rgba(255,255,255,1);
    }
    .taiji2{
    width:100px;
    height:200px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color:rgba(0,0,0,1);
    }
    .taiji3{
    width: 100px;
    height:100px;
    position: absolute;
    background-color: rgba(255,255,255,1);
    border-radius: 100%;
    left:25%
    }
    .taiji4{
    width: 100px;
    height:100px;
    position: absolute;
    background-color: rgba(0,0,0,1);
    border-radius: 100%;
    left:25%;
    bottom:0%
    }
    .taiji5{
    width: 30px;
    height:30px;
    position: absolute;
    background-color:rgba(0,0,0,1);
    border-radius:100%;
    left:50%;
    top:25%;
    transform:translate(-50%,-50%);
    }
    .taiji6{
    width: 30px;
    height:30px;
    position: absolute;
    background-color:rgba(255,255,255,1);
    border-radius: 100%;
    left:50%;
    top:75%;
    transform:translate(-50%,-50%);
    } */